.md {
    page-like {
        ion-content {
            .content-box {
                padding: 2.19rem 2.81rem;
                textarea {
                    padding: 1.13rem 1.31rem;
                    width: 100%;
                    height: 12.5rem;
                    line-height: 2.25rem;
                }
            }
        }
    }
    // .modal-like {
    //     .modal-wrapper {
    //     }
    // }
}