page-password {
    ion-content {
        .content-box {
            padding: 6.81rem 2.8rem;
            label {
                color: #333333;
                margin-right: 2.7rem;
            }
        }
    }
}

// .modal-pw {
//     .modal-wrapper {
//     }
// }