page-common-tips {
    #tips-box {
        color: #141613;
        text-align: center;
        font-size: 2.13rem;
        padding-top: 5rem;
        p {
            margin-bottom: 3.56rem;
            span {
                font-size: 8rem;
                color: #CFCFCF;
            }
        }
    }
}

.common-tips {
    .modal-wrapper {
        background-color: #ffffff;
        border-radius: 0.5rem;
    }
}